node_modules/
**/node_modules/

.env
*.env
bot/.env
dashboard/.env

dashboard/dist/
bot/data/*.json
bot/data/spreadsheets/
bot/data/tesseract-cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.azure-deploy/
